.body {
    width: 100%;
}
.unlock {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 2em;
    width: 100%;
    justify-content: center;
}

.unlock > img {
    height: 50vh;
}

.unlock > div {
    width: 30%;
    margin-left: 2vw;
}

.unlock > div > p {
    margin: 2em 0;
}

.learn {
    color: white;
    background-color: #4caf4f;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center; /* Ensures text is centered */
    cursor: pointer; /* Added pointer cursor for better UX */
    transition: background-color 0.3s ease; /* Added hover effect */
}

.learn:hover {
    background-color: #45a045; /* Slightly darker green on hover */
}
